section {
  padding: 20px;
}

.card {
  max-width: 400px;
  height: auto;
}

.view img{
  max-height: 300px;
  object-fit: cover;
}

.content-p {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn{
  max-width: 50%;
}
.btn-primary{
  margin: 30px;
}

.card-meta{
  padding: 5px;
  font-size: 15px;
  margin-right: 5px;
}