<form #f="ngForm" (ngSubmit)="signup()">
  <label class="lbl">
    <p class="label-txt">FIRST NAME</p>
    <input 
      #i1="ngModel"  
      id="i1" 
      name = "i1"
      type="text" 
      class="input" 
      [(ngModel)] = "user.firstName"
      autocomplete="off"
      required>

    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label class="lbl">
    <p class="label-txt">LAST NAME</p>
    <input 
      #i2="ngModel" 
      id="i2" 
      name = "i2"
      type="text" 
      class="input" 
      [(ngModel)] = "user.lastName"
      autocomplete="off"
      required>
      

    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label class="lbl">
    <p class="label-txt">EMAIL</p>
    <input 
      #i3="ngModel" 
      id="i3" 
      name = "i3"
      type="text" 
      class="input" 
      [(ngModel)] = "user.email"
      autocomplete="off"
      required>

    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label class="lbl">
    <p class="label-txt">PASSWORD</p>
    <input 
    #i4="ngModel" 
    id="i4" 
    name = "i4"
    type="password" 
    class="input" 
    [(ngModel)] = "user.password"
    autocomplete="off"
    required>
    <div class="line-box">

      <div class="line"></div>
    </div>
  </label>

  <label class="lbl">
    <p class="label-txt">CONFIRM PASSWORD</p>
    <input 
      #i5="ngModel" 
      id="i5" 
      name = "i5"
      type="password" 
      class="input" 
      [(ngModel)] = "confirmPassword"
      autocomplete="off"
      required>

    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <button [disabled]="!f.valid || i5.value != i4.value" type="submit">Sign up</button>
</form>